N8N_RELEASE_TYPE=stable
# The top level domain to serve from
DOMAIN_NAME={...}

# The subdomain to serve from
SUBDOMAIN={...}
N8N_BASIC_AUTH_ACTIVE={...}
N8N_BASIC_AUTH_USER={...}
N8N_BASIC_AUTH_PASSWORD={...}
# DOMAIN_NAME and SUBDOMAIN combined decide where n8n will be reachable from
# above example would result in: https://n8n.example.com

# Optional timezone to set which gets used by Cron-Node by default
# If not set New York time will be used
GENERIC_TIMEZONE=America/Sao_Paulo

DB_TYPE=postgresdb
DB_POSTGRESDB_DATABASE={...}
DB_POSTGRESDB_HOST={...}
DB_POSTGRESDB_USER={...}
DB_POSTGRESDB_PASSWORD={...}
DB_POSTGRESDB_PORT={...}
# The email address to use for the SSL certificate creation
SSL_EMAIL={...}

N8N_EXTERNAL_STORAGE_S3_HOST={...}
N8N_EXTERNAL_STORAGE_S3_BUCKET_NAME={...}
N8N_EXTERNAL_STORAGE_S3_BUCKET_REGION={...}
N8N_EXTERNAL_STORAGE_S3_ACCESS_KEY={...}
N8N_EXTERNAL_STORAGE_S3_ACCESS_SECRET={...}



TAG=latest

